.info {
    margin-left: 100px;
    margin-right: 50px;
    width: 30%;
    padding: 30px;
    border-radius: 20px;
    background: #98f092;
    box-shadow: -3px -3px 7px #ffffff,
                3px 3px 5px #5250504d;
}

.imgPro {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.img {
    margin: 0px;
    margin-bottom: 50px;
}

header {
    background-color:rgb(131, 234, 199);
    padding: 10px;
}
.head2{
    margin-left: 100px;
}
.contact{
    margin-left: 100px;
}
body{
    background-color: beige;
}
.work{
    margin-left: 100px;

}
.works{
    width: 30%;
    padding: 40px;
    border-radius: 20px;
    background: #98f092;
    box-shadow: -3px -3px 7px #ffffff,
                3px 3px 5px #5250504d;
}
img {
    border-radius: 10%;
}
.button {
    padding:0;
    margin:0;
    border:none;
    font-size:14px;
    background: url(../img/button.gif) no-repeat center;
    color: #000000;
    height:27px;
    width:134px; 
    font-variant:small-caps;
}

.button:hover {
    padding:0;
    margin:0;
    border:none;
    font-size:14px;
    background: url(../img/button.gif) no-repeat center;
    color: #FF0000;
    height:27px;
    width:134px; 
    text-decoration:none;
    font-variant:small-caps;
}